@import "./config/_colors.scss";

body,html {
    background-color: $default-bg;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    button {
        background-color: transparent;
        border: none;
        outline: none;
    }
    .urlArea{
        position: fixed;
        top:0;
        height: 45pt;
        width: 100%;
        background-color: gray;
        z-index: 20;
    }
    .actionBarArea{
        position: fixed;
        bottom: 0;
        margin: auto;
        height: 45pt;
        width: 100%;
        background-color: gray;
        z-index: 20;
    }
}

.slider {
    width: 100%;
    .slide {
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        opacity: 0;
        pointer-events: none;
    }
}