@import "./config/_colors";
@import "./config/_animation";

@media screen and (orientation: portrait){
    html{
        body{
            .preventHorizonMode{
                display: none;
            }
            // .desktopScreen{
            //     display: none;
            // }
        }
    }
}
body,html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $default-bg;
    -webkit-touch-callout:none;
    -webkit-touch-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    .swal-modal {
        background-color: white;
        border: none;
        border-radius: 20px;
        width: 160px;
        height: 183px;
    }
    &:hover{
        cursor: default;
    }
    .resorceLoading{
        position: fixed;
        background-color: $default-bg;
        top:0;
        right:0;
        bottom:0;
        left:0;
        margin:auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-family: "SCDream";
        font-weight: 500;
        div{
            animation: $loading;
        }
    }
    .preventHorizonMode{
        position: fixed;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        font-family: "SCDream";
        font-weight: 500;
        background-color: $default-bg;
        z-index: 9999;
    }
    main{
        &.typeOne{
            background-color: $type-one;
            transition: all 0.8s linear;
        }
        &.typeTwo{
            background-color: $type-two;
            transition: all 0.8s linear;
        }
        &.typeThree{
            background-color: $type-three;   
            transition: all 0.8s linear;
        }
        &.typeFour{
            background-color: $type-four;
            transition: all 0.8s linear;
        }
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        animation: $loaded;
        .slider {
            width: 100%;
            .slide {
                position: absolute;
                top:0;
                right:0;
                left:0;
                bottom:0;
                margin: auto;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 0;
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}

