@media (min-height: 671px) and (max-height: 740px){
    body{
        .resorceLoading{
            font-size: 15px;
        }
        .slider{
            .start{
                .slide__content{
                    .content__row{
                        .topImage{
                            img.main{
                                height: 120px;
                            }
                        }
                        .title{
                            div:nth-child(1){
                                font-size: 28px;
                            }
                            div:nth-child(2){
                                font-size: 31px;
                            }
                            div:nth-child(3){
                                padding: 5px 7px;
                                font-size: 15px;
                            }
                        }
                    }
                    .startBtn {
                        .button {
                            img:nth-child(1){
                                height: 90px;
                            }
                        }
                    }
                }
            }   
        }
        .question{
            .slide__content{
                width: 87%;
                .topImage{
                    top: -20px;
                }
                .content__row{
                    margin-top: 30px;
                    padding-top: 60px;
                    .count{
                        top: -20px;
                        img{
                            height: 40px;
                        }
                    }
                    .main{
                        .main__text{
                            margin-bottom: 35px;
                            span{
                                font-size: 19px;
                            }
                        }
                        .main__image{
                            img{
                                height: 210px;
                            }
                        }
                    }
                }
                .buttons{
                    .button{
                        padding: 9px 0;
                        font-size: 15px;
                    }
                }
            }
        }
        .loading{
            .slide__content{
                .content__row{
                    .questionTitle{
                        font-size: 17px;  
                        margin-bottom: 15px; 
                        span{
                            strong{
                                font-size: 18px;
                            }
                        }
                    }
                    .mainTitle{
                        span{
                            font-size: 18px;
                        }
                    }
                }
                .loadingComment{
                    .resultBtn{
                        .button{
                            img{
                                height: 77px;
                            }
                        }
                    }
                    .loadingAnimation{
                        span{
                            font-size: 12px;
                        }
                        .dot{
                            width: 4px;
                            height: 4px;
                        }
                    }
                    .comment{
                        span{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .result{
            .slide__content{
                .type{
                    .title{
                        .title__type{
                            span{
                                font-size: 26px;
                            }
                        }
                        .title__battery{
                            span{
                                font-size: 16px;    
                            }
                        }
                    }
                    .content__row{
                        margin: 30px 0;
                        .mainImage{
                            margin-bottom: 30px;
                            img{
                                height: 210px;
                            }
                        }
                        .info{
                            span{
                                font-size: 20px;
                                strong{
                                    font-size: 26px;
                                }
                            }
                        }
                        .friends{
                            .good,
                            .bad{
                                font-size: 17px;
                            }
                        }
                    }
                    .saveImageInfo{
                        span{
                            font-size: 11.5px;
                        }
                    }
                }
                .sharedSNS{
                    .sharedImage{
                        img{
                            height: 42px;
                        }
                    }
                    .sharedIcons{
                        a{
                            .snsIcon{
                                width: 45px;
                            }
                        }
                    }
                }
            }
        }
    }
}