@media (max-height: 480px){
    body{
        overflow: hidden;
        .resorceLoading{
            font-size: 12px;
        }
        .swal-text {
            font-size: 12px;
        }
        .slider{
            .start{
                .slide__content{
                    .content__row{
                        .topImage{
                            img.main{
                                height: 90px;
                            }
                        }
                        .title{
                            div:nth-child(1){
                                font-size: 18px;
                            }
                            div:nth-child(2){
                                font-size: 22px;
                            }
                            div:nth-child(3){
                                padding: 4px 3px;
                                font-size: 11px;
                            }
                        }
                    }
                    .mainImage{
                        margin-top: 5px;
                    }
                    .startBtn {
                        .button {
                            img:nth-child(1){
                                height: 70px;
                            }
                        }
                    }
                }
            }   
        }
        .question{
            .slide__content{
                width: 90%;
                .topImage{
                    top: -10px;
                }
                .content__row{
                    margin-top: 23px;
                    padding-top: 28px;
                    margin-bottom: 7px;
                    .count{
                        top: -18px;
                        img{
                            height: 35px;
                        }
                    }
                    .main{
                        .main__text{
                            margin-bottom: 10px;
                            span{
                                font-size: 13px;
                            }
                        }
                        .main__image{
                            img{
                                height: 150px;
                            }
                        }
                    }
                }
                .buttons{
                    .button{
                        padding: 7px 0;
                        font-size: 12px;
                    }
                }
            }
        }
        .loading{
            .slide__content{
                .loadingCloud{
                    &:nth-child(1){
                        height: 62px;
                    }
                    &:nth-child(2){
                        height: 56px;
                    }
                    &:nth-child(3){
                        height: 43px;
                    }
                }
                .content__row{
                    .questionTitle{
                        font-size: 11px;  
                        margin-bottom: 5px; 
                        line-height: 1.3;
                        span{
                            strong{
                                font-size: 12px;
                            }
                        }
                    }
                    .mainTitle{
                        line-height: 1.3;
                        span{
                            font-size: 13px;
                        }
                    }
                }
                .bookImage{
                    img{
                        height: 200px;
                    }
                }
                .loadingComment{
                    .resultBtn{
                        .button{
                            img{
                                height: 50px;
                            }
                        }
                    }
                    .loadingAnimation{
                        span{
                            font-size: 9px;
                        }
                        .dot{
                            width: 2px;
                            height: 2px;
                        }
                    }
                    .comment{
                        span{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .result{
            .slide__content{
                .type{
                    .title{
                        .title__type{
                            span{
                                font-size: 20px;
                            }
                        }
                        .title__battery{
                            img{
                                height: 13px;
                            }
                            span{
                                font-size: 12px;    
                            }
                        }
                    }
                    .content__row{
                        margin-top: 15px;
                        .mainImage{
                            margin-bottom: 10px;
                            img{
                                height: 150px;
                            }
                        }
                        .info{
                            span{
                                font-size: 14px;
                                strong{
                                    font-size: 20px;
                                }
                            }
                        }
                        .friends{
                            .good,
                            .bad{
                                font-size: 13px;
                            }
                        }
                    }
                    .saveImageInfo{
                        span{
                            font-size: 8px;
                        }
                    }
                }
                .sharedSNS{
                    .sharedImage{
                        img{
                            height: 29px;
                        }
                    }
                    .sharedIcons{
                        a{
                            .snsIcon{
                                width: 36px;
                            }
                        }
                    }
                }
            }
        }
    }
}