@media (min-height: 641px) and (max-height: 670px){
    body{
        .resorceLoading{
            font-size: 14px;
        }
        .slider{
            .start{
                .slide__content{
                    .content__row{
                        .topImage{
                            img.main{
                                height: 115px;
                            }
                        }
                        .title{
                            div:nth-child(1){
                                font-size: 26px;
                            }
                            div:nth-child(2){
                                font-size: 29px;
                            }
                            div:nth-child(3){
                                padding: 5px 7px;
                                font-size: 14px;
                            }
                        }
                    }
                    .startBtn {
                        .button {
                            img:nth-child(1){
                                height: 80px;
                            }
                        }
                    }
                }
            }   
        }
        .question{
            .slide__content{
                width: 87%;
                .topImage{
                    top: -20px;
                }
                .content__row{
                    margin-top: 30px;
                    padding-top: 40px;
                    .count{
                        top: -24px;
                        img{
                            height: 45px;
                        }
                    }
                    .main{
                        .main__text{
                            margin-bottom: 30px;
                            span{
                                font-size: 18px;
                            }
                        }
                        .main__image{
                            img{
                                height: 180px;
                            }
                        }
                    }
                }
                .buttons{
                    .button{
                        padding: 8px 0;
                        font-size: 15px;
                    }
                }
            }
        }
        .loading{
            .slide__content{
                .loadingCloud{
                    &:nth-child(1){
                        height: 70px;
                    }
                    &:nth-child(2){
                        height: 67px;
                    }
                    &:nth-child(3){
                        height: 50px;
                    }
                }
                .content__row{
                    .questionTitle{
                        font-size: 15px;  
                        margin-bottom: 13px; 
                        span{
                            strong{
                                font-size: 16px;
                            }
                        }
                    }
                    .mainTitle{
                        span{
                            font-size: 16px;
                        }
                    }
                }
                .bookImage{
                    img{
                        height: 290px;
                    }
                }
                .loadingComment{
                    .resultBtn{
                        .button{
                            img{
                                height: 75px;
                            }
                        }
                    }
                    .loadingAnimation{
                        span{
                            font-size: 11px;
                        }
                        .dot{
                            width: 3px;
                            height: 3px;
                        }
                    }
                    .comment{
                        span{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .result{
            .slide__content{
                .type{
                    .title{
                        .title__type{
                            span{
                                font-size: 24px;
                            }
                        }
                        .title__battery{
                            span{
                                font-size: 15px;    
                            }
                        }
                    }
                    .content__row{
                        .mainImage{
                            img{
                                height: 180px;
                            }
                        }
                        .info{
                            span{
                                font-size: 19px;
                                strong{
                                    font-size: 25px;
                                }
                            }
                        }
                        .friends{
                            .good,
                            .bad{
                                font-size: 16px;
                            }
                        }
                    }
                    .saveImageInfo{
                        span{
                            font-size: 11px;
                        }
                    }
                }
                .sharedSNS{
                    .sharedImage{
                        img{
                            height: 40px;
                        }
                    }
                    .sharedIcons{
                        a{
                            .snsIcon{
                                width: 45px;
                            }
                        }
                    }
                }
            }
        }
    }
}