@media (min-height:482px) and (max-height: 570px){
    body{
        overflow: hidden;
        .resorceLoading{
            font-size: 12px;
        }
        .swal-text {
            font-size: 13px;
        }
        .slider{
            .start{
                .slide__content{
                    .content__row{
                        .topImage{
                            img.main{
                                height: 105px;
                            }
                        }
                        .title{
                            div:nth-child(1){
                                font-size: 21px;
                            }
                            div:nth-child(2){
                                font-size: 25px;
                            }
                            div:nth-child(3){
                                padding: 4px 5px;
                                font-size: 12px;
                            }
                        }
                    }
                    .mainImage{
                        margin-top: 7px;
                    }
                    .startBtn {
                        .button {
                            img:nth-child(1){
                                height: 75px;
                            }
                        }
                    }
                }
            }   
        }
        .question{
            .slide__content{
                width: 90%;
                .topImage{
                    top: -15px;
                }
                .content__row{
                    margin-top: 22px;
                    padding-top: 40px;
                    .count{
                        top: -18px;
                        img{
                            height: 35px;
                        }
                    }
                    .main{
                        .main__text{
                            margin-bottom: 20px;
                            span{
                                font-size: 14px;
                            }
                        }
                        .main__image{
                            img{
                                height: 160px;
                            }
                        }
                    }
                }
                .buttons{
                    .button{
                        padding: 8px 0;
                        font-size: 13px;
                    }
                }
            }
        }
        .loading{
            .slide__content{
                .loadingCloud{
                    &:nth-child(1){
                        height: 65px;
                    }
                    &:nth-child(2){
                        height: 59px;
                    }
                    &:nth-child(3){
                        height: 45px;
                    }
                }
                .content__row{
                    .questionTitle{
                        font-size: 14px;  
                        margin-bottom: 10px; 
                        span{
                            strong{
                                font-size: 15px;
                            }
                        }
                    }
                    .mainTitle{
                        span{
                            font-size: 15px;
                        }
                    }
                }
                .bookImage{
                    img{
                        height: 250px;
                    }
                }
                .loadingComment{
                    .resultBtn{
                        .button{
                            img{
                                height: 60px;
                            }
                        }
                    }
                    .loadingAnimation{
                        span{
                            font-size: 10px;
                        }
                        .dot{
                            width: 3px;
                            height: 3px;
                        }
                    }
                    .comment{
                        span{
                            font-size: 11px;
                        }
                    }
                }
            }
        }
        .result{
            .slide__content{
                .type{
                    .title{
                        .title__type{
                            span{
                                font-size: 20px;
                            }
                        }
                        .title__battery{
                            img{
                                height: 14px;
                            }
                            span{
                                font-size: 12px;    
                            }
                        }
                    }
                    .content__row{
                        margin-top: 20px;
                        .mainImage{
                            margin-bottom: 15px;
                            img{
                                height: 150px;
                            }
                        }
                        .info{
                            span{
                                font-size: 15px;
                                strong{
                                    font-size: 21px;
                                }
                            }
                        }
                        .friends{
                            .good,
                            .bad{
                                font-size: 12px;
                            }
                        }
                    }
                    .saveImageInfo{
                        span{
                            font-size: 9.5px;
                        }
                    }
                }
                .sharedSNS{
                    .sharedImage{
                        img{
                            height: 31px;
                        }
                    }
                    .sharedIcons{
                        a{
                            .snsIcon{
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}