@media (min-height: 815px) and (max-height: 900px){
    body{
        .resorceLoading{
            font-size: 15px;
        }
        .slider{
            .start{
                .slide__content{
                    .content__row{
                        .topImage{
                            img.main{
                                height: 145px;
                            }
                        }
                        .title{
                            div:nth-child(1){
                                font-size: 34px;
                            }
                            div:nth-child(2){
                                font-size: 37px;
                            }
                            div:nth-child(3){
                                padding: 5px 7px;
                                font-size: 17px;
                            }
                        }
                    }
                    .startBtn {
                        .button {
                            img:nth-child(1){
                                height: 110px;
                            }
                        }
                    }
                }
            }   
        }
        .question{
            .slide__content{
                width: 90%;
                .topImage{
                    top: -15px;
                }
                .content__row{
                    margin-top: 40px;
                    padding-top: 80px;
                    .count{
                        top: -25px;
                        img{
                            height: 60px;
                        }
                    }
                    .main{
                        .main__text{
                            margin-bottom: 40px;
                            span{
                                font-size: 21px;
                            }
                        }
                        .main__image{
                            img{
                                height: 250px;
                            }
                        }
                    }
                }
                .buttons{
                    .button{
                        padding: 12px 0;
                        font-size: 16px;
                    }
                }
            }
        }
        .loading{
            .slide__content{
                .content__row{
                    .questionTitle{
                        font-size: 18px;  
                        margin-bottom: 15px; 
                        span{
                            strong{
                                font-size: 19px;
                            }
                        }
                    }
                    .mainTitle{
                        span{
                            font-size: 19px;
                        }
                    }
                }
                .loadingComment{
                    .resultBtn{
                        margin-top: 10px;
                        .button{
                            img{
                                height: 85px;
                            }
                        }
                    }
                    .loadingAnimation{
                        padding: 8px 20px;
                        border-radius: 15px;
                        span{
                            font-size: 13px;
                        }
                        .dot{
                            width: 5px;
                            height: 5px;
                        }
                    }
                    .comment{
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .result{
            .slide__content{
                .type{
                    .title{
                        .title__type{
                            margin-bottom: 20px;
                            span{
                                font-size: 32px;
                            }
                        }
                        .title__battery{
                            padding: 7px 10px;
                            span{
                                font-size: 19px;    
                            }
                        }
                    }
                    .content__row{
                        margin-top: 45px;
                        .mainImage{
                            margin-bottom: 30px;
                            img{
                                height: 280px;
                            }
                        }
                        .info{
                            span{
                                font-size: 23px;
                                strong{
                                    font-size: 29px;
                                }
                            }
                        }
                        .friends{
                            .good,
                            .bad{
                                font-size: 18px;
                            }
                        }
                    }
                    .saveImageInfo{
                        span{
                            font-size: 13px;
                        }
                    }
                }
                .sharedSNS{
                    .sharedImage{
                        img{
                            height: 49px;
                        }
                    }
                    .sharedIcons{
                        a{
                            .snsIcon{
                                width: 53px;
                            }
                        }
                    }
                }
            }
        }
    }
}