@media (min-height: 1000px){
    body{
        .slider{
            .start{
                .slide__content{
                    .content__row{
                        .topImage{
                            img.description{
                                top: -45px;
                                right: -75px;
                                height: 52px;
                            }
                            img.main{
                                height: 160px;
                            }
                        }
                        .title{
                            div:nth-child(1){
                                font-size: 35px;
                            }
                            div:nth-child(2){
                                font-size: 38px;
                            }
                            div:nth-child(3){
                                border-radius: 17px;
                                padding: 8px 7px;
                                font-size: 25px;
                            }
                        }
                    }
                    .bookImage{
                        margin: 17px;
                        img{
                            height: 270px;
                        }
                    }
                    .startBtn{
                        .button{
                            img{
                                height: 130px;
                            }
                        }
                    }
                }
            }   
        }
        .question{
            .slide__content{
                max-width: 500px;
                .topImage{
                    top: -20px;
                }
                .content__row{
                    margin-top: 35px;
                    padding-top: 100px;
                    .count{
                        top: -25px;
                        img{
                            height: 60px;
                        }
                    }
                    .main{
                        .main__text{
                            margin-bottom: 45px;
                            span{
                                font-size: 27px;
                            }
                        }
                        .main__image{
                            img{
                                height: 270px;
                            }
                        }
                    }
                }
                .buttons{
                    .button{
                        padding: 10px 0;
                        font-size: 22px;
                    }
                }
            }
        }
        .loading{
            .slide__content{
                .content__row{
                    .questionTitle{
                        font-size: 26px;  
                        margin-bottom: 18px; 
                        span{
                            focus{
                                font-size: 27px;
                            }
                        }
                    }
                    .mainTitle{
                        span{
                            font-size: 27px;
                        }
                    }
                }
                .bookImage{
                    margin: 25px 0;
                    img{
                        height: 280px;
                    }
                }
                .loadingComment{
                    .comment{
                        span{
                            font-size: 21px;
                        }
                    }
                    .loadingAnimation{
                        padding: 10px 20px;
                        border-radius: 17px;
                        span{
                            font-size: 20px;
                        }
                        .dot{
                            width: 7px;
                            height: 7px;
                        }
                    }
                    .resultBtn{
                        .button{
                            img{
                                height: 140px;
                            }
                        }
                    }
                }
            }
        }
        .result{
            .slide__content{
                .type{
                    .title{
                        .title__type{
                            span{
                                font-size: 37px;
                            }
                        }
                        .title__battery{
                            padding: 8px 10px;
                            border-radius: 17px;
                            img{
                                height: 20px;
                            }
                            span{
                                font-size: 24px;    
                            }
                        }
                    }
                    .content__row{
                        margin-top: 35px;
                        .mainImage{
                            margin-bottom: 30px;
                            img{
                                height: 300px;
                            }
                        }
                        .info{
                            span{
                                font-size: 29px;
                                strong{
                                    font-size: 35px;
                                }
                            }
                        }
                        .friends{
                            .good,
                            .bad{
                                font-size: 26px;
                            }
                        }
                    }
                }
                .sharedSNS{
                    .sharedImage{
                        margin-bottom: 20px;
                        img{
                            height: 58px;
                        }
                    }
                }
            }
        }
    }
}