@media (min-height: 683px) and (max-height: 790px){
    body{
        .slider{
            .start{
                .slide__content{
                    .content__row{
                        .topImage{
                            img.description{
                                top: -32px;
                                right: -54px;
                                height: 38px;
                            }
                            img.main{
                                height: 120px;
                            }
                        }
                        .title{
                            div:nth-child(1){
                                font-size: 27px;
                            }
                            div:nth-child(2){
                                font-size: 30px;
                            }
                            div:nth-child(3){
                                padding: 6px 7px;
                                font-size: 15px;
                            }
                        }
                    }
                    .bookImage{
                        margin: 17px;
                        img{
                            height: 200px;
                        }
                    }
                    .startBtn{
                        .button{
                            img{
                                height: 95px;
                            }
                        }
                    }
                }
            }   
        }
        .question{
            .slide__content{
                .topImage{
                    top: -20px;
                }
                .content__row{
                    margin-top: 35px;
                    padding-top: 40px;
                    .count{
                        top: -20px;
                        img{
                            height: 40px;
                        }
                    }
                    .main{
                        .main__text{
                            margin-bottom: 25px;
                            span{
                                font-size: 17px;
                            }
                        }
                        .main__image{
                            img{
                                height: 200px;
                            }
                        }
                    }
                }
                .buttons{
                    .button{
                        padding: 8px 0;
                        font-size: 15px;
                    }
                }
            }
        }
        .loading{
            .slide__content{
                .content__row{
                    .questionTitle{
                        font-size: 18px;  
                        margin-bottom: 15px; 
                        span{
                            focus{
                                font-size: 19px;
                            }
                        }
                    }
                    .mainTitle{
                        span{
                            font-size: 19px;
                        }
                    }
                }
                .bookImage{
                    margin: 15px 0;
                    img{
                        height: 200px;
                    }
                }
                .loadingComment{
                    .comment{
                        span{
                            font-size: 15px;
                        }
                    }
                    .loadingAnimation{
                        span{
                            font-size: 14px;
                        }
                        .dot{
                            width: 5px;
                            height: 5px;
                        }
                    }
                    .resultBtn{
                        .button{
                            img{
                                height: 115px;
                            }
                        }
                    }
                }
            }
        }
        .result{
            .slide__content{
                .type{
                    .title{
                        .title__type{
                            span{
                                font-size: 24px;
                            }
                        }
                        .title__battery{
                            span{
                                font-size: 15px;    
                            }
                        }
                    }
                    .content__row{
                        margin: 22px;
                        .mainImage{
                            img{
                                height: 200px;
                            }
                        }
                        .info{
                            span{
                                font-size: 18px;
                                strong{
                                    font-size: 24px;
                                }
                            }
                        }
                        .friends{
                            .good,
                            .bad{
                                font-size: 16px;
                            }
                        }
                    }
                    .sharedSNS{
                        .sharedImage{
                            img{
                                height: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}