@media (max-height: 480px){
    body{
        .slider{
            .start{
                .slide__content{
                    .content__row{
                        .topImage{
                            img.main{
                                height: 85px;
                            }
                        }
                        .title{
                            div:nth-child(1){
                                font-size: 20px;
                            }
                            div:nth-child(2){
                                font-size: 24px;
                            }
                            div:nth-child(3){
                                padding: 5px 7px;
                                font-size: 12px;
                            }
                        }
                    }
                    .bookImage{
                        margin: 15px;
                        img{
                            height: 150px;
                        }
                    }
                    .startBtn{
                        .button{
                            img{
                                height: 67px;
                            }
                        }
                    }
                }
            }   
        }
        .question{
            .slide__content{
                width: 90%;
                .topImage{
                    top: -10px;
                }
                .content__row{
                    margin-top: 23px;
                    padding-top: 28px;
                    margin-bottom: 7px;
                    .count{
                        top: -18px;
                        img{
                            height: 35px;
                        }
                    }
                    .main{
                        .main__text{
                            margin-bottom: 10px;
                            span{
                                font-size: 13px;
                            }
                        }
                        .main__image{
                            img{
                                height: 150px;
                            }
                        }
                    }
                }
                .buttons{
                    .button{
                        padding: 7px 0;
                        font-size: 12px;
                    }
                }
            }
        }
        .loading{
            .slide__content{
                .content__row{
                    .questionTitle{
                        font-size: 14px;  
                        margin-bottom: 10px; 
                        span{
                            focus{
                                font-size: 15px;
                            }
                        }
                    }
                    .mainTitle{
                        span{
                            font-size: 15px;
                        }
                    }
                }
                .bookImage{
                    margin: 10px 0;
                    img{
                        height: 150px;
                    }
                }
                .loadingComment{
                    .comment{
                        span{
                            font-size: 12px;
                        }
                    }
                    .loadingAnimation{
                        span{
                            font-size: 12px;
                        }
                        .dot{
                            width: 3px;
                            height: 3px;
                        }
                    }
                    .resultBtn{
                        .button{
                            img{
                                height: 80px;
                            }
                        }
                    }
                }
            }
        }
        .result{
            .slide__content{
                .type{
                    .title{
                        .title__type{
                            span{
                                font-size: 20px;
                            }
                        }
                        .title__battery{
                            img{
                                height: 14px;
                            }
                            span{
                                font-size: 14px;    
                            }
                        }
                    }
                    .content__row{
                        margin-top: 20px;
                        .mainImage{
                            margin-bottom: 15px;
                            img{
                                height: 180px;
                            }
                        }
                        .info{
                            span{
                                font-size: 15px;
                                strong{
                                    font-size: 21px;
                                }
                            }
                        }
                        .friends{
                            .good,
                            .bad{
                                font-size: 14px;
                            }
                        }
                    }
                }
                .sharedSNS{
                    .sharedImage{
                        img{
                            height: 34px;
                        }
                    }
                }
            }
        }
    }
}