@import "../config/colors";
@import "../config/animation";

.question{
    &#prev{
        animation: $activeElSlide;
    }
    &#active{
        animation: $nextElSlide;
    }
    .slide__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        max-width: 370px;
        width: 92%;
        .topImage{
            width: 100%;
            position: absolute;
            top: -10px;
            left: 0;
            img{
                width: 100%;
            }
        }
        .content__row{
            width: 100%;
            position: relative;
            margin-top: 40px;
            margin-bottom: 15px;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            padding-top: 70px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            .count{
                position: absolute;
                top:-26px;
                margin: 0 auto;
                img{
                    height: 55px;
                }
            }
            .main{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: transparent;
                .main__text{
                    text-align: center;
                    line-height: 1.3;
                    margin-bottom: 45px;
                    span {
                        font-family: "SCDream5";
                        font-size: 18px;
                    }
                }
                .main__image{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        height: 230px;
                        z-index: 2;
                    }
                }
            }
        }
        .buttons{
            width: 99%;
            .button {
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                width: 100%;
                background-color: $selectBtn;
                padding: 12px 0;
                border-radius: 10px;
                box-shadow: 2px 2px 4px $selectBtn-shadow;
                font-family: "SCDream6";
                font-size: 16px;
                display: flex;
                align-items: center;
                span:nth-child(1){
                    margin-left: 12px;
                }
                span:nth-child(2){
                    width: 100%;
                    text-align: center;
                    line-height: 1.3;
                }
                &:active {
                    background-color: $selectBtn-shadow;
                    transform: translateY(1px) translateX(1px);
                    box-shadow: -1px -2px 3px $selectBtn;
                }
            }
        }
    }   
}