@import "../config/_colors";

.question{
    .slide__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        max-width: 370px;
        width: 90%;
        height: 80vh;
        .topImage{
            width: 100%;
            position: absolute;
            top: -10px;
            left: 0;
            img{
                width: 100%;
            }
        }
        .content__row{
            width: 100%;
            position: relative;
            margin-top: 40px;
            margin-bottom: 15px;
            background-color: #ffffff70;
            border-radius: 10px;
            padding-top: 20%;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            .count{
                position: absolute;
                top:-28px;
                left:0;
                right:0;
                margin: auto;
                width: fit-content;
                img{
                    width: 50px;
                }
            }
            .main{
                display: flex;
                flex-direction: column;
                align-items: center;
                .main__text{
                    text-align: center;
                    line-height: 1.3;
                    margin-bottom: 15%;
                    span {
                        font-family: "SCDream5";
                        font-size: 17px;
                    }
                }
                .main__image{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        height: 200px;
                    }
                }
            }
        }
        .buttons{
            width: 99%;
            button {
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                width: 100%;
                background-color: $selectBtn;
                padding: 3% 10px;
                border-radius: 10px;
                box-shadow: 2px 2px 4px $selectBtn-shadow;
                font-family: "SCDream6";
                font-size: 15px;
                display: flex;
                align-items: center;
                span:nth-child(1){
                    font-family: "SCDream5";
                }
                span:nth-child(2){
                    width: 100%;
                    text-align: center;
                }
                transition: all 0.2s linear;
                &:active {
                    background-color: $selectBtn-shadow;
                    transform: translateY(1px);
                    box-shadow: -1px 0px 3px $selectBtn;
                }
            }
        }
    }   
}