@import "../config/_colors";
@import "../config/_animation";
.result{
    &#active {
        animation: $resultSlide;
    }
    .slide__content{
        width: 100%;
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        .resultImage{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 2;
            img{
                height: 100%;
                -webkit-touch-callout: initial;
                -webkit-touch-select: initial;
                -ms-user-select: initial;
                -moz-user-select: initial;
                -webkit-user-select: initial;
                user-select: initial;
            }
        }
        .type{
            margin-bottom: 4%;
            .title{
                display: flex;
                flex-direction: column;
                align-items: center;
                .title__type{
                    margin-bottom:10px;
                    span {
                        font-family: "SCDream";
                        font-weight: 700;
                        font-size: 30px;
                    }
                }
                .title__battery{
                    width: 100%;
                    padding: 5px 7px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 15px;
                        margin-right: 5px;
                    }
                    span{
                        font-family: 'SCDream';
                        font-weight: 500;
                        font-size: 17px;
                        strong{
                            font-weight: 600;
                        }
                    }
                }
            }
            .content__row{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 35px;
                .mainImage{
                    margin-bottom: 25px;
                    img{
                        height: 260px;
                    }
                }
                .info{
                    text-align: center;
                    line-height: 1.3;
                    margin-bottom: 15px;
                    span{
                        font-family: "SCDream";
                        font-weight: 500;
                        font-size: 22px;
                        color: #ec5a56;
                        strong{
                            font-weight: 600;
                            color: #6e1717;
                            font-size: 28px;
                        }
                    }
                }
                .friends{
                    color: #8d5755;
                    .good,
                    .bad{
                        font-size: 18px;
                        font-family: "SCDream";
                        font-weight: 500;
                        &:not(:last-child){
                            margin-bottom: 4px;
                        }
                        strong{
                            font-weight: 600;
                        }
                    }
                }
            }
            .saveImageInfo{
                margin-top: 6%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    font-size: 14px;
                    font-family: "SCDream";
                    font-weight: 500;
                    animation: $slowBlinkBlink;
                }
            }
        }
        .sharedSNS{
            position: relative;
            z-index: 3;
            width: 100%;
            .sharedImage{
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 45px;
                }
            }
            .sharedIcons{
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    margin: 0 1%;
                    &:active{
                        opacity: 0.7;
                        transform: translateY(1px);
                    }
                    .snsIcon{
                        width: 53px;
                    }
                }
            }
        }
    }
}