@import "../config/_colors";
@import "../config/_animation";

.start {
    &#prev{
        animation: $activeElSlide;
    }
    .slide__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .content__row{
            display: flex;
            flex-direction: column;
            align-items: center;
            .topImage{
                position: relative;
                width: fit-content;
                display: flex;
                justify-content: center;
                margin-top: 30px;
                margin-bottom: 5px;
                img.description{
                    position: absolute;
                    bottom: 42%;
                    left: 12%;
                    height: 75%;
                    animation: $floating;
                }
                img.main{
                    margin-left: 10px;
                    height: 130px;
                }
            }
            .title{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: "SCDream";
                div:nth-child(1){
                    font-weight: 600;
                    font-size: 30px;
                    margin-bottom: 7px;
                }
                div:nth-child(2){
                    font-size: 38px;
                    font-weight: 700;
                    color: #6e1717;
                    margin-bottom: 7px;
                }
                div:nth-child(3){
                    width: 100%;
                    text-align: center;
                    font-weight: 500;
                    padding: 7px 9px;
                    font-size: 15px;
                    color: $default-bg;
                    background-color: $loadingBar;
                    border-radius: 10px;
                }
            }
        }
        .mainImage{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 7%;
            img{
                width: 100%;
            }
        }
        .startBtn {
            margin-top: -20px;
            .button {
                position: relative;
                img:nth-child(1){
                    height: 100px;
                }
                img:nth-child(2){
                    position: absolute;
                    top: 32%;
                    left: 24%;
                    height: 43%;
                    animation: $blinkBlink;
                }
                -webkit-tap-highlight-color: transparent;
                &:active{
                    -webkit-tap-highlight-color: transparent;
                }
            }
        }
    }
}