<!DOCTYPE html>
html(lang="en")
    head
        //- 서비스 배포시 Unlock
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-169195735-2")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-169195735-2');
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
        meta(name="HandheldFriendly" content="true")
        link(rel="shortcut icon" href="configs/image/favicon32.png")
        //- Sharing SNS SDK 
        script(src="https://developers.kakao.com/sdk/js/kakao.min.js")
        script(async defer src="https://connect.facebook.net/en_US/sdk.js")
        script(type="text/javascript" async src="https://platform.twitter.com/widgets.js")
        script(src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js")
        script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
        //- og meta tag
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://jeokdanghi-relationship.com")
        meta(property="og:image" content="https://hbird1005.dothome.co.kr/images/sharedImages/snsShared.png")
        meta(property="og:title" content="재미로 보는 관계 유형 테스트")
        meta(property="og:description" content="나의 인간관계 유형은?")
        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:image" content="https://hbird1005.dothome.co.kr/images/sharedImages/snsShared.png")
        //- preloading local fonts
        link(rel="preload" href="configs/fonts/SCDream5.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="configs/fonts/SCDream6.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="configs/fonts/SCDream7.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="stylesheet", href="styles.css")
        title 재미로 보는 관계 유형 테스트
    body
        .resorceLoading#jsResorceLoading(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
            div 로딩중...
        .preventHorizonMode(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
            div 세로모드로 이용해주세요
        .desktopScreen(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
                include screens/desktop
        main
            #jsSlider.slider
                include screens/start
                include screens/question1
                include screens/question2
                include screens/question3
                include screens/question4
                include screens/question5
                include screens/question6
                include screens/question7
                include screens/question8
                include screens/question9
                include screens/question10
                include screens/question11
                include screens/loading
                include screens/result
        script(type="text/javascript").
            Kakao.init('f9d8205eef6f7b4200be77c0b94dfc8a')
            function sendLink() {
                const resultSharedImage = document.getElementById("resultSharedImage").src;
                Kakao.Link.sendDefault({
                    objectType: "feed",
                    content: {
                        title: "재미로 보는 관계 유형 테스트",
                        description: "나의 인간관계 유형은?",
                        imageUrl: resultSharedImage,
                        imageWidth: 890,
                        imageHeight: 1300,
                        link: {
                            mobileWebUrl: "https://jeokdanghi-relationship.com",
                            webUrl: "https://jeokdanghi-relationship.com",
                        },
                    },
                    buttons: [
                        {
                            title: '관계 유형 테스트하기',
                            link: {
                                mobileWebUrl: 'https://jeokdanghi-relationship.com',
                                webUrl: 'https://jeokdanghi-relationship.com',
                            },
                        },
                        {
                            title: '허밍버드 구경가기',
                            link: {
                                mobileWebUrl: 'https://www.instagram.com/100doci',
                                webUrl: 'https://www.instagram.com/100doci',
                            },
                        },
                    ],
                })
            }
            document.getElementById("facebookBtn").onclick = function() {
                FB.init({
                appId            : '3343288875702944',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v7.0'
                });
                FB.ui({
                    display: 'popup',
                    method: 'share',
                    href: 'https://jeokdanghi-relationship.com/',
                }, function(response){});
            }
            
            const clipboard = new ClipboardJS('#clipBoardBtn');
            clipboard.on('success', function(e) {
                swal("책 링크 복사",{
                    icon: "success",
                    button: false
                });
                setTimeout(()=>{
                    swal.close();
                },1300);
            });
        script(src="main.js")