<!DOCTYPE html>
html(lang="en")
    head
        //- 서비스 배포시 Unlock
        //- script(async src="https://www.googletagmanager.com/gtag/js?id=UA-169195735-1")
        //- script.
        //-     window.dataLayer = window.dataLayer || [];
        //-     function gtag(){dataLayer.push(arguments);}
        //-     gtag('js', new Date());

        //-     gtag('config', 'UA-169195735-1');
        script(src="//developers.kakao.com/sdk/js/kakao.js")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
        meta(name="HandheldFriendly" content="true")
        meta(property="og:type" content="website")
        //- meta(property="og:url" content="https://jeokdanghi-relationship.com/")
        meta(property="og:image" content="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/kongi.png")
        meta(property="og:image:width" content="1200")
        meta(property="og:image:height" content="630")
        meta(property="og:title" content="재미로 보는 관계 유형 테스트")
        meta(property="og:description" content="나의 인간 관계 유형은?")
        meta(property="og:site_name" content="허밍버드 출판사")
        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:image" content="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/kongi.png")
        link(rel="preload" href="configs/fonts/SCDream5.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="configs/fonts/SCDream6.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="configs/fonts/SCDream7.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="stylesheet", href="styles.css")
        title 재미로 보는 관계 유형 테스트
    body
        .resorceLoading#jsResorceLoading(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
            div 로딩중...
        .preventHorizonMode(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
            div 모바일/세로모드로 이용해주세요
        main
            #jsSlider.slider
                include screens/start
                include screens/question1
                include screens/question2
                include screens/question3
                include screens/question4
                include screens/question5
                include screens/question6
                include screens/question7
                include screens/question8
                include screens/question9
                include screens/question10
                include screens/question11
                include screens/loading
                include screens/result
            a(id="kakao-link-btn" href="javascript:sendLink()")
                img(src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png")
        script(type="text/javascript").
            // input your appkey
            Kakao.init('f9d8205eef6f7b4200be77c0b94dfc8a')
            function sendLink() {
                Kakao.Link.sendDefault({
                objectType: 'feed',
                content: {
                    title: '딸기 치즈 케익',
                    description: '#케익 #딸기 #삼평동 #카페 #분위기 #소개팅',
                    imageUrl:
                    'http://k.kakaocdn.net/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
                    link: {
                    mobileWebUrl: 'https://developers.kakao.com',
                    webUrl: 'https://developers.kakao.com',
                    },
                }})};
        script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ee203ac1b643f8e")
        script(src="main.js")