<!DOCTYPE html>
html(lang="en")
    head
        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-169195735-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-169195735-1');
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
        meta(name="HandheldFriendly" content="true")
        meta(property="og:image" content="")
        meta(property="og:title" content="재미로 보는 관계 유형 테스트")
        meta(property="og:description" content="나의 인간 관계 유형은?")
        link(rel="stylesheet", href="styles.css")
        link(rel="preload" href="configs/fonts/SCDream5.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="configs/fonts/SCDream6.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="configs/fonts/SCDream7.woff2" as="font" type="font/woff2" crossorigin)
        title 재미로 보는 관계 유형 테스트
    body
        .resorceLoading#jsResorceLoading(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
            div 로딩중...
        .preventHorizonMode(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
            div 모바일/세로모드로 이용해주세요
        main
            #jsSlider.slider
                include screens/start
                include screens/question1
                include screens/question2
                include screens/question3
                include screens/question4
                include screens/question5
                include screens/question6
                include screens/question7
                include screens/question8
                include screens/question9
                include screens/question10
                include screens/question11
                include screens/loading
                include screens/result
        script(src="main.js")
        <!-- Go to www.addthis.com/dashboard to customize your tools --> 
        script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ee203ac1b643f8e")