.desktop
    .desktop__image
        //- img(data-src="//hbird1005.dothome.co.kr/images/desktopImage/desktopPhone.png" alt="")
        //- img(data-src="//hbird1005.dothome.co.kr/images/desktopImage/qr.png" alt="")