.desktop__container
    .desktop__content
        .authorSign
            span ©댄싱스네일
        .desktop__columns
            .pcPhone
                img(data-src="https://front-juno.github.io/images-fonts/images/jeokdanghi/desktopImage/pcPreview.png" alt="")
        .desktop__columns
            .title
                span 재미로 보는
                    br
                    |
                    strong 관계 유형 테스트
            .title-bubble
                img(data-src="https://front-juno.github.io/images-fonts/images/jeokdanghi/desktopImage/pcBubble.png" alt="")
            .qrCode
                img(data-src="https://front-juno.github.io/images-fonts/images/jeokdanghi/desktopImage/pcQrcode.png" alt="")
            .qrCode-info
                span 모바일에서 #[strong QR]코드를 스캔하여
                    br
                    | 테스트를 진행해보세요.
            