.slide
    .slide__content
        .buttons
            button 1
            button 2
            button 3
            button 4
        img(src="https://ddamjengi1020.github.io/imageHosting/images/Asset%205.png?raw=true")