.slide.loading(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .slide__content
        .content__row
            .questionTitle
                span 외롭지도, 피곤하지도 않은
                    br
                    strong '친구와의 적당한 거리'
                    | 가 궁금하다면?
            .mainTitle
                span 에세이
                    strong 《적당히 가까운 사이》를
                    br
                    | 가까운 서점에서 만나보세요!
        .bookImage
            //- 샘플이미지
            img(data-src="//hbird1005.dothome.co.kr/images/startPage/sampleBook.png" alt="")
        .loadingComment
            .comment
                span 관태기 테스트는 댄싱스네일 작가의 에세이
                    br
                    strong 《적당히 가까운 사이》
                    br
                    | 에피소드를 재구성해 제작하였습니다.
            .loadingAnimation#jsLoadingAnimation
                .dot
                .dot
                .dot
                .dot
                span 유형 분석 중
                .dot
                .dot
                .dot
                .dot
            .resultBtn#jsResultBtn
                .button.selectBtn(data-id="loading" ontouchstart="")
                    img(data-src="//hbird1005.dothome.co.kr/images/resultLoading/goToResult.png" alt="")