.slide.question.q1
    .slide__content
        .topImage
            img(src="https://ddamjengi1020.github.io/imageHosting/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C1,11%EC%83%81%EB%8B%A8%EB%B0%B0%EA%B2%BD.png")
        .content__row
            .count
                img(src="https://ddamjengi1020.github.io/imageHosting/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C11%EC%88%AB%EC%9E%90%EC%9B%90.png")
            .main
                .main__text
                    span 야근 후 퇴근하던 길에 갑자기<br>외로움을 느낀 당신의 행동은?
                .main__image
                    img(src="https://ddamjengi1020.github.io/imageHosting/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C11%EC%9D%B4%EB%AF%B8%EC%A7%80.png")
        .buttons
            .button.selectBtn(data-id="1" ontouchstart="")
                span ①
                span 보이는 카톡창마다 메시지를 보낸다
            .button.selectBtn(data-id="2" ontouchstart="")
                span ②
                span 우울한 음악을 틀고 분위기를 고조시킨다
            .button.selectBtn(data-id="3" ontouchstart="")
                span ③
                span 친한 친구와 바로 약속을 잡는다
            .button.selectBtn(data-id="4" ontouchstart="")
                span ④
                span 탄수화물 부족인가?<br>배달 앱을 켜 기분 전환용 음식을 시킨다
        