.slide.question(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .slide__content
        .topImage
            img(data-src="https://hbird1005.dothome.co.kr/images/questions/q1&11Bg.png" alt="")
        .content__row
            .count
                img(data-src="https://hbird1005.dothome.co.kr/images/questions/q11Count.png" alt="")
            .main
                .main__text
                    span 야근 후 퇴근하던 길에 갑자기
                        br
                        | 외로움을 느낀 당신의 행동은?
                .main__image.q11
                    img(data-src="https://hbird1005.dothome.co.kr/images/questions/q11Image.png" alt="")
                    .maskQ11
                        img(data-src="https://hbird1005.dothome.co.kr/images/questions/q11Item1.png" alt="")
                        img(data-src="https://hbird1005.dothome.co.kr/images/questions/q11Item2.png" alt="")
                        img(data-src="https://hbird1005.dothome.co.kr/images/questions/q11Item3.png" alt="")
        .buttons
            .button.selectBtn(data-id="1" ontouchstart="")
                span ①
                span 보이는 카톡창마다 메시지를 보낸다
            .button.selectBtn(data-id="2" ontouchstart="")
                span ②
                span 우울한 음악을 틀고 분위기를 고조시킨다
            .button.selectBtn(data-id="3" ontouchstart="")
                span ③
                span 친한 친구와 바로 약속을 잡는다
            .button.selectBtn(data-id="4" ontouchstart="")
                span ④
                span 탄수화물 부족인가?
                    br
                    | 배달 앱을 켜 기분 전환용 음식을 시킨다
        