.slide.question(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .slide__content
        .topImage
            img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q8Bg.png" alt="")
        .content__row
            .count
                img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q8Count.png" alt="")
            .main
                .main__text
                    span 친구의 SNS에 안물안궁 일상이
                        br
                        | 계속 올라온다면 당신은?
                .main__image.q8
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q8Image.png" alt="")
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q8Item1-1.png" alt="")
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q8Item1-2.png" alt="")
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q8Item2-1.png" alt="")
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q8Item2-2.png" alt="")
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q8Item3-1.png" alt="")
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q8Item3-2.png" alt="")
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q8Item1-1.png" alt="")
        .buttons
            .button.selectBtn(data-id="1" ontouchstart="")
                span ①
                span "너무 좋아 보인다~"라며 댓글을 남긴다
            .button.selectBtn(data-id="2" ontouchstart="")
                span ②
                span 질 수 없지! 더 행복한 내 일상을 올린다
            .button.selectBtn(data-id="3" ontouchstart="")
                span ③
                span 일단 좋아요는 눌러 준다
            .button.selectBtn(data-id="4" ontouchstart="")
                span ④
                span 언팔하거나 숨기기를 한다
        