.slide.question.q1
    .slide__content
        .topImage
            img(src="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C4,7%EC%83%81%EB%8B%A8%EB%B0%B0%EA%B2%BD.png")
        .content__row
            .count
                img(src="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C4%EC%88%AB%EC%9E%90%EC%9B%90.png")
            .main
                .main__text
                    span 연락한 지 오래된 친구와의 사진이
                        br
                        | 3년 전 오늘이라며 SNS에 떴을 때
                        br
                        | 당신은?
                .main__image
                    img(src="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C4%EC%9D%B4%EB%AF%B8%EC%A7%80.png")
        .buttons
            .button.selectBtn(data-id="1" ontouchstart="")
                span ①
                span 오랜만에 친구에게 연락을 해 본다
            .button.selectBtn(data-id="2" ontouchstart="")
                span ②
                span 내 과거 사진을 보면서
                    br
                    | 지금은 용 됐다고 생각한다
            .button.selectBtn(data-id="3" ontouchstart="")
                span ③
                span 멀어진 사이를 혼자 씁쓸해한다
            .button.selectBtn(data-id="4" ontouchstart="")
                span ④
                span 신경 쓰지 않고 오늘 올릴 사진을 찾아본다
        