.slide.question(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .slide__content
        .topImage
            img(data-src="configs/images/questions/q2Bg.png")
        .content__row
            .count
                img(data-src="configs/images/questions/q2Count.png")
            .main
                .main__text
                    span 친한 친구와의 식사 자리에서
                        br
                        | 메뉴를 고를 때, 당신의 선택은?
                .main__image.q2
                    img(data-src="configs/images/questions/q2Image.png")
                    img(data-src="configs/images/questions/q2Item1.png")
        .buttons
            .button.selectBtn(data-id="1" ontouchstart="")
                span ①
                span 옆 테이블 사람에게
                    br
                    | 먹고있는 메뉴를 물어본다
            .button.selectBtn(data-id="2" ontouchstart="")
                span ②
                span 내가 먹고 싶은 메뉴 위주로 주문한다
            .button.selectBtn(data-id="3" ontouchstart="")
                span ③
                span "난 아무거나"라고 말한다
            .button.selectBtn(data-id="4" ontouchstart="")
                span ④
                span 먹고 싶은 메뉴를 각자 하나씩 고른다
        