.slide.question
    .slide__content
        .topImage
            img(data-src="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C1,11%EC%83%81%EB%8B%A8%EB%B0%B0%EA%B2%BD.png")
        .content__row
            .count
                img(data-src="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C1%EC%88%AB%EC%9E%90%EC%9B%90.png")
            .main
                .main__text
                    span 혼자만의 시간을 보내고 있던 당신,
                        br
                        | 이때 동창 친구들의
                        br
                        | 단톡방에 초대된다면 당신은?
                .main__image.q1
                    img(data-src="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C1%EC%9D%B4%EB%AF%B8%EC%A7%80.png")
                    img(data-src="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C1%EC%95%84%EC%9D%B4%ED%85%9C1.png")
                    img(data-src="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C1%EC%95%84%EC%9D%B4%ED%85%9C2.png")
        .buttons
            .button.selectBtn(data-id="1" ontouchstart="")
                span ①
                span 바로 확인하고 칼답장한다
            .button.selectBtn(data-id="2" ontouchstart="")
                span ②
                span 알림을 끈 채 내가 보고 싶을 때 확인한다
            .button.selectBtn(data-id="3" ontouchstart="")
                span ③
                span 대답은 하지 않고 계속 지켜만 본다
            .button.selectBtn(data-id="4" ontouchstart="")
                span ④
                span 단톡방을 나간다
        