.slide.question(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .slide__content
        .topImage
            img(src="https://hbird1005.dothome.co.kr/images/questions/q5&9Bg.png" alt="")
        .content__row
            .count
                img(src="https://hbird1005.dothome.co.kr/images/questions/q5Count.png" alt="")
            .main
                .main__text
                    span 나와 취향이 맞지않는 친구가
                        br
                        | 준 선물이 맘에 들지 않을 때
                        br
                        | 당신의 반응은?
                .main__image.q5
                    img(src="https://hbird1005.dothome.co.kr/images/questions/q5Image.png" alt="")
                    img(src="https://hbird1005.dothome.co.kr/images/questions/q5Item1.png" alt="")
        .buttons
            .button.selectBtn(data-id="1" ontouchstart="")
                span ①
                span 선물은 다 좋아! 기쁜 마음으로 받는다
            .button.selectBtn(data-id="2" ontouchstart="")
                span ②
                span 내 취향이 아니라고 솔직히 말하고
                    br
                    | 받지 않는다
            .button.selectBtn(data-id="3" ontouchstart="")
                span ③
                span 우선 받지만 어딘가에 두고 사용하진 않는다
            .button.selectBtn(data-id="4" ontouchstart="")
                span ④
                span 구매한 곳으로 가서 다른 상품으로 교환한다
        