.slide.question(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .slide__content
        .topImage
            img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q4&7Bg.png" alt="")
        .content__row
            .count
                img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q7Count.png" alt="")
            .main
                .main__text
                    span 오랜만에 만난 친구가
                        br
                        | 계속 핸드폰만 본다면 당신은?
                .main__image.q7
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q7Image.png" alt="")
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q7Item1.png" alt="")
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q7Item2.png" alt="")
        .buttons
            .button.selectBtn(data-id="1" ontouchstart="")
                span ①
                span 흥미로운 주제를 꺼내 친구의
                    br
                    | 관심을 돌린다
            .button.selectBtn(data-id="2" ontouchstart="")
                span ②
                span 나도 같이 핸드폰을 본다
            .button.selectBtn(data-id="3" ontouchstart="")
                span ③
                span 다 볼 때까지 참고 기다려 준다
            .button.selectBtn(data-id="4" ontouchstart="")
                span ④
                span 이제 그만 가자고 말한다
        