.slide.question(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .slide__content
        .topImage
            img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q6Bg.png" alt="")
        .content__row
            .count
                img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q6Count.png" alt="")
            .main
                .main__text
                    span 친한 친구의 결혼식,
                        br
                        | 졸업하고 처음 얼굴을 보는
                        br
                        | 동창을 만났다면 당신은?
                .main__image.q6
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q6Image.png" alt="")
        .buttons
            .button.selectBtn(data-id="1" ontouchstart="")
                span ①
                span "오랜만이야~" 반갑게 인사한다
            .button.selectBtn(data-id="2" ontouchstart="")
                span ②
                span 모르는 사이 아닌가? 아는 척하지 않는다
            .button.selectBtn(data-id="3" ontouchstart="")
                span ③
                span 불편하지만 눈인사 정도는 나눈다
            .button.selectBtn(data-id="4" ontouchstart="")
                span ④
                span 친한 친구들 무리로 이동한다
        