.slide.question(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .slide__content
        .topImage
            img(data-src="//hbird1005.dothome.co.kr/images/questions/q4&7Bg.png" alt="")
        .content__row
            .count
                img(data-src="//hbird1005.dothome.co.kr/images/questions/q4Count.png" alt="")
            .main
                .main__text
                    span 연락한 지 오래된 친구와의 사진이
                        br
                        | 3년 전 오늘이라며 SNS에 떴을 때
                        br
                        | 당신은?
                .main__image.q4
                    img(data-src="//hbird1005.dothome.co.kr/images/questions/q4Image.png" alt="")
                    img(data-src="//hbird1005.dothome.co.kr/images/questions/q4Item1.png" alt="")
        .buttons
            .button.selectBtn(data-id="1" ontouchstart="")
                span ①
                span 오랜만에 친구에게 연락을 해 본다
            .button.selectBtn(data-id="2" ontouchstart="")
                span ②
                span 내 과거 사진을 보면서
                    br
                    | 지금은 용 됐다고 생각한다
            .button.selectBtn(data-id="3" ontouchstart="")
                span ③
                span 멀어진 사이를 혼자 씁쓸해한다
            .button.selectBtn(data-id="4" ontouchstart="")
                span ④
                span 신경 쓰지 않고 오늘 올릴 사진을 찾아본다
        