.slide.question(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .slide__content
        .topImage
            img(data-src="https://hbird1005.dothome.co.kr/images/questions/q3Bg.png" alt="")
        .content__row
            .count
                img(data-src="https://hbird1005.dothome.co.kr/images/questions/q3Count.png" alt="")
            .main
                .main__text
                    span 출근길,
                        br
                        | 사무실로 올라가는 엘리베이터에서
                        br
                        | 얼굴만 아는 옆 부서 회사 동료를
                        br
                        | 만났을 때 당신의 행동은?
                .main__image.q3
                    img(data-src="https://hbird1005.dothome.co.kr/images/questions/q3Image.png" alt="")
                    .mask
                        img(data-src="https://hbird1005.dothome.co.kr/images/questions/q3Item1.png" alt="")
        .buttons
            .button.selectBtn(data-id="1" ontouchstart="")
                span ①
                span 반갑게 인사한다
            .button.selectBtn(data-id="2" ontouchstart="")
                span ②
                span 다른 곳 가는 척하면서 먼저 보낸다
            .button.selectBtn(data-id="3" ontouchstart="")
                span ③
                span 어색하지만 티 내지 않고 함께 탄다
            .button.selectBtn(data-id="4" ontouchstart="")
                span ④
                span 계단으로 올라간다
        