.slide.question(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .slide__content
        .topImage
            img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q1&11Bg.png" alt="")
        .content__row
            .count
                img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q1Count.png" alt="")
            .main
                .main__text
                    span 혼자만의 시간을 보내고 있던 당신,
                        br
                        | 이때 동창 친구들의
                        br
                        | 단톡방에 초대된다면 당신은?
                .main__image.q1
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q1Image.png" alt="")
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q1Item1.png" alt="")
                    img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/questions/q1Item2.png" alt="")
        .buttons
            .button.selectBtn(data-id="1" ontouchstart="")
                span ①
                span 바로 확인하고 칼답장한다
            .button.selectBtn(data-id="2" ontouchstart="")
                span ②
                span 알림을 끈 채 내가 보고 싶을 때 확인한다
            .button.selectBtn(data-id="3" ontouchstart="")
                span ③
                span 대답은 하지 않고 계속 지켜만 본다
            .button.selectBtn(data-id="4" ontouchstart="")
                span ④
                span 단톡방을 나간다
        