.slide.question.q1
    .slide__content
        .topImage
            img(src="https://ddamjengi1020.github.io/imageHosting/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C2%EC%83%81%EB%8B%A8%EB%B0%B0%EA%B2%BD.png")
        .content__row
            .count
                img(src="https://ddamjengi1020.github.io/imageHosting/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C2%EC%88%AB%EC%9E%90%EC%9B%90.png")
            .main
                .main__text
                    span 친한 친구와의 식사 자리에서<br>메뉴를 고를 때, 당신의 선택은?
                .main__image
                    img(src="https://ddamjengi1020.github.io/imageHosting/%EA%B4%80%ED%83%9C%EA%B8%B0/%EB%AC%B8%EC%A0%9C/%EB%AC%B8%EC%A0%9C2%EC%9D%B4%EB%AF%B8%EC%A7%80.png")
        .buttons
            .button.selectBtn(data-id="1")
                span ①
                span 옆 테이블 사람에게<br>먹고있는 메뉴를 물어본다
            .button.selectBtn(data-id="2")
                span ②
                span 내가 먹고 싶은 메뉴 위주로 주문한다
            .button.selectBtn(data-id="3")
                span ③
                span "난 아무거나"라고 말한다
            .button.selectBtn(data-id="4")
                span ④
                span 먹고 싶은 메뉴를 각자 하나씩 고른다
        