.slide.result
    .slide__content
        .resultImage
        include ../partials/type1
        include ../partials/type2
        include ../partials/type3
        include ../partials/type4
        .sharedSNS(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
            .sharedImage
                img(data-src="configs/images/types/resultBottom.png")
            .addThis
                .addthis_inline_share_toolbox_2pvo