.slide.result
    .slide__content
        .resultImage
        include ../partials/type1
        include ../partials/type2
        include ../partials/type3
        include ../partials/type4
        .sharedSNS(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
            .sharedImage
                img(data-src="//hbird1005.dothome.co.kr/images/types/resultBottom.png" alt="")
            .sharedIcons
                a(id="kakao-link-btn" href="javascript:sendLink()" ontouchstart="")
                    img.snsIcon(data-src="//hbird1005.dothome.co.kr/images/shareIcons/kakao-icon.png")
                a#facebookBtn(href="#" ontouchstart="")
                    img.snsIcon(data-src="//hbird1005.dothome.co.kr/images/shareIcons/facebook-icon.png")
                a(href="#" ontouchstart="")
                    img.snsIcon(data-src="//hbird1005.dothome.co.kr/images/shareIcons/twitter-icon.png")
                a(href="#" ontouchstart="")
                    img.snsIcon(data-src="//hbird1005.dothome.co.kr/images/shareIcons/sms-icon.png")
                a(href="#" ontouchstart="")
                    img.snsIcon(data-src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png")
                //- .addthis_inline_share_toolbox_2pvo