.slide.result
    .slide__content
        .resultImage
        include ../partials/type1
        include ../partials/type2
        include ../partials/type3
        include ../partials/type4
        .sharedSNS(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
            .sharedImage
                img(data-src="https://front-juno.github.io/images-fonts/images/jeokdanghi/types/resultBottom.png" alt="")
            .sharedIcons
                a#kakao-link-btn(href="javascript:sendLink()" ontouchstart="")
                    img.snsIcon(data-src="https://front-juno.github.io/images-fonts/images/jeokdanghi/shareIcons/kakao-icon.png")
                a#facebookBtn(ontouchstart="")
                    img.snsIcon(data-src="https://front-juno.github.io/images-fonts/images/jeokdanghi/shareIcons/facebook-icon.png")
                a#twitterBtn(href="https://twitter.com/intent/tweet?url=https://jeokdanghi-relationship.com&text=instagram.com/100doci&hashtags=관계유형테스트" ontouchstart="")
                    img.snsIcon(data-src="https://front-juno.github.io/images-fonts/images/jeokdanghi/shareIcons/twitter-icon.png")
                a#sms-link-btn(ontouchstart="")
                    img.snsIcon(data-src="https://front-juno.github.io/images-fonts/images/jeokdanghi/shareIcons/sms-icon.png")
                //- 배포전 수정 예정(18일 예상)
                a#clipBoardBtn(data-clipboard-text="https://book.naver.com/bookdb/book_detail.nhn?bid=16385789" ontouchstart="")
                    img.snsIcon(data-src="https://front-juno.github.io/images-fonts/images/jeokdanghi/shareIcons/bookStore-icon.png")