.slide.start(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .slide__content
        .content__row
            .topImage
                img.description(data-src="//hbird1005.dothome.co.kr/images/startPage/startBubble.png" alt="")
                img.main(data-src="//hbird1005.dothome.co.kr/images/startPage/startHuman.png" alt="")
            .title
                div 재미로 보는
                div 관태기 테스트
                div 나의 인간 관계 유형은?
        .mainImage
            img(data-src="//hbird1005.dothome.co.kr/images/startPage/startMain.png" alt="")
        .startBtn
            .button(ontouchstart="")
                img(data-src="//hbird1005.dothome.co.kr/images/startPage/startBtn.png" alt="")
                img(data-src="//hbird1005.dothome.co.kr/images/startPage/startBtnText.png" alt="")