.slide.start(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .slide__content
        .content__row
            .topImage
                img.description(data-src="configs/images/startPage/startBubble.png")
                img.main(data-src="configs/images/startPage/startHuman.png")
            .title
                div 재미로보는
                div 관태기 테스트
                div 나의 관계 유형은?
        .bookImage
            //- 샘플이미지
            img(data-src="configs/images/startPage/sampleBook.png")
        .startBtn
            .button(ontouchstart="")
                img(data-src="configs/images/startPage/startBtn.png")
                img(data-src="configs/images/startPage/startBtnText.png")