@import "../config/animation";
.question{
    .slide__content{
        .content__row{
            .main{
                .main__image{
                    &.q1{
                        img:nth-child(2){
                            position: absolute;
                            top: 43.5%;
                            left: 33%;
                            height: 15%;
                            animation: $vibration;
                        }
                        img:nth-child(3){
                            position: absolute;
                            bottom: 0.63%;
                            right: 18%;
                            height: 8.5%;
                            animation: $tail;
                            z-index: 0;
                        }
                    }
                    &.q2{
                        img:nth-child(2){
                            position: absolute;
                            top: 3%;
                            right: 0;
                            height: 34%;
                            animation: $floating;
                        }
                    }
                    &.q3{
                        .mask{
                            position: absolute;
                            width: 7%;
                            height: 7%;
                            clip: rect(0px, 10px, 10px, 0px); 
                            top: 1.8%;
                            left: 0;
                            right: 8%;
                            margin: auto;
                            z-index: 3;
                            img{
                                height: 70%;
                                animation: $upElevator;
                            }
                        }
                    }
                    &.q4{
                        img:nth-child(2){
                            position: absolute;
                            top: 11.7%;
                            left: 7%;
                            height: 13.4%;
                            animation: $spin;
                        }
                    }
                    &.q5{
                        img:nth-child(2){
                            position: absolute;
                            bottom: 19%;
                            height: 12%;
                            animation: $floating;
                        }
                    }
                    &.q7{
                        img:nth-child(2){
                            position: absolute;
                            top: 17.8%;
                            left: 48.3%;
                            height: 4.5%;
                        }
                        img:nth-child(3){
                            position: absolute;
                            top: 17.8%;
                            left: 48.3%;
                            height: 4.5%;
                            animation: $slowBlinkBlink;
                        }
                    }
                    &.q8{
                        img:nth-child(2){
                            position: absolute;
                            bottom: 31%;
                            left: 15%;
                            height: 6%;
                            opacity: 0;
                            animation: $heartBlink 2s linear infinite;
                        }
                        img:nth-child(3){
                            position: absolute;
                            top: 25%;
                            left: 53%;
                            height: 6.2%;
                            opacity: 0;
                            animation: $heartBlink 2s linear infinite;
                        }
                        img:nth-child(4){
                            position: absolute;
                            bottom: 27%;
                            left: 24%;
                            height: 7.4%;
                            opacity: 0;
                            animation: $heartBlink 2s linear infinite 0.35s;
                        }
                        img:nth-child(5){
                            position: absolute;
                            top: 31%;
                            left: 60%;
                            height: 6%;
                            opacity: 0;
                            animation: $heartBlink 2s linear infinite 0.35s;
                        }
                        img:nth-child(6){
                            position: absolute;
                            bottom: 33%;
                            left: 35%;
                            height: 7.4%;
                            opacity: 0;
                            animation: $heartBlink 2s linear infinite 0.7s;
                        }
                        img:nth-child(7){
                            position: absolute;
                            top: 32%;
                            left: 72%;
                            height: 6%;
                            opacity: 0;
                            animation: $heartBlink 2s linear infinite 0.7s;
                        }
                        img:nth-child(8){
                            position: absolute;
                            bottom: 20%;
                            left: 42%;
                            height: 6.5%;
                            opacity: 0;
                            animation: $heartBlink 2s linear infinite 1.05s;
                        }
                    }
                    &.q9{
                        .maskQ9{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            clip: rect(0px, auto, auto, 0px); 
                            z-index: 1;
                            img:nth-child(1){
                                position: absolute;
                                top: 60%;
                                left: 3%;
                                height: 15%;
                                z-index: 0;
                                animation: $cloud1;
                            }
                            img:nth-child(2){
                                position: absolute;
                                top: 18%;
                                left: 4%;
                                height: 15%;
                                z-index: 0;
                                animation: $cloud1 2s;
                            }
                            img:nth-child(3){
                                position: absolute;
                                bottom: 15%;
                                left: 33%;
                                height: 10%;
                                z-index: 0;
                                animation: $cloud1 1s;
                            }
                            img:nth-child(4){
                                position: absolute;
                                top: 18%;
                                left: 56%;
                                height: 19%;
                                z-index: 0;
                                animation: $cloud2 1s;
                            }
                            img:nth-child(5){
                                position: absolute;
                                bottom: 37%;
                                right: 4%;
                                height: 12%;
                                z-index: 0;
                                animation: $cloud2;
                            }
                        }
                    }
                    &.q10{
                        img:nth-child(2){
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 32%;
                            animation: $floating;
                        }
                    }
                    &.q11{
                        .maskQ11{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            clip: rect(0px, auto, auto, 0px); 
                            z-index: 1;
                            img:nth-child(1){
                                position: absolute;
                                top: 7%;
                                right: 0;
                                height: 60%;
                                animation: $bus1;
                            }
                            img:nth-child(2){
                                position: absolute;
                                top: 4%;
                                left: 12%;
                                height: 50%;
                                animation: $bus2;
                            }
                            img:nth-child(3){
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 35%;
                                animation: $bus3;
                            }
                        }
                    }
                }
            }
        }
    }
}