@import "../config/_colors";
.type-three{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title{
        .title__type{
            span{
                color: $type-three-title;
            }
        }
        .title__battery{
            background-color: $type-three-battery;
        }
    }
    .saveImageInfo{
        span{
            color: #394EA2;
        }
    }
}
.type-three.show{
    display: flex;
}