.type.type-one(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .title
        .title__type
            span 유형 1
        .title__battery
            img(data-src="https://front-juno.github.io/images-fonts/images/jeokdanghi/types/type1Battery.png" alt="")
            span 
                strong 관태기 0%
                | 
                | 관태기가 뭐예요?
    .content__row
        .mainImage
            img(data-src="https://front-juno.github.io/images-fonts/images/jeokdanghi/types/type1Image.png" alt="")
        .info
            span 위아더월드~
                br
                | 처음 본 사람과도
                br
                | 바로 친구되는
                strong 핵인싸형
        .friends
            .good
                strong 잘 맞는 유형 :
                | 관계수호자형
            .bad
                strong 안 맞는 유형 :
                | 비(Rain)깡형
    .saveImageInfo
            span 길게 눌러 이미지 저장하기