.type.type-four(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .title
        .title__type
            span 유형 4
        .title__battery
            img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/types/type4Battery.png" alt="")
            span 
                strong 관태기 30%
                | 
                | 내 사람만 챙기기도 바쁜걸
    .content__row
        .mainImage
            img(data-src="https://mestuss.github.io/images-fonts/images/jeokdanghi/types/type4Image.png" alt="")
        .info
            span 과거에 집착 미련 노노~
                br
                | 지금 곁에 있는 사람이 제일 중요한
                br
                strong 관계미니멀리스트형
        .friends
            .good
                strong 잘 맞는 유형 :
                | 비(Rain)깡형
            .bad
                strong 안 맞는 유형 :
                | 관계수호자형
    .saveImageInfo
            span 길게 눌러 이미지 저장하기