.type.type-four
    .title
        .title__type
            span 유형 4
        .title__battery
            img(data-src="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/%EC%9C%A0%ED%98%95/%EC%9C%A0%ED%98%954%EB%B0%B0%ED%84%B0%EB%A6%AC.png")
            span 
                strong 관태기 30%
                | 
                | 내 사람만 챙기기도 바쁜걸
    .content__row
        .mainImage
            img(data-src="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/%EC%9C%A0%ED%98%95/%EC%9C%A0%ED%98%954%EC%9D%B4%EB%AF%B8%EC%A7%80.png")
        .info
            span 과거에 집착 미련 노노~
                br
                | 지금 곁에 있는 사람이 제일 중요한
                br
                strong 관계미니멀리스트형
        .friends
            .good
                strong 잘 맞는 유형 :
                | 비(Rain)깡형
            .bad
                strong 안 맞는 유형 :
                | 관계수호자형
    .sharedSNS
        .sharedImage
            img(data-src="https://front-juno.github.io/images-fonts/images/%EA%B4%80%ED%83%9C%EA%B8%B0/%EC%9C%A0%ED%98%95/%EA%B3%B5%EC%9C%A0%ED%95%98%EA%B8%B0.png")
        .addThis
            //- .addthis_inline_share_toolbox_eouf