.type.type-two(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .title
        .title__type
            span 유형 2
        .title__battery
            img(data-src="configs/images/types/type2Battery.png")
            span 
                strong 관태기 20%
                | 
                | 난 그냥 내 길을 간다
    .content__row
        .mainImage
            img(data-src="configs/images/types/type2Image.png")
        .info
            span 그러거나 말거나~
                br
                | 주변 따윈 신경 쓰지 않는
                br
                strong 비(Rain)깡형
        .friends
            .good
                strong 잘 맞는 유형 :
                | 관계미니멀리스트형
            .bad
                strong 안 맞는 유형 :
                | 핵인싸형
    .saveImageInfo
            span 길게 눌러 이미지 저장하기