.type.type-three(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
    .title
        .title__type
            span 유형 3
        .title__battery
            img(src="https://hbird1005.dothome.co.kr/images/types/type3Battery.png" alt="")
            span 
                strong 관태기 80%
                | 
                | 가능한 모두와 잘 지내고 싶어
    .content__row
        .mainImage
            img(src="https://hbird1005.dothome.co.kr/images/types/type3Image.png" alt="")
        .info
            span 모든 관계 내가 다 지키겠어!
                br
                | 내 마음보다 관계가 먼저인
                br
                strong 관계수호자형
        .friends
            .good
                strong 잘 맞는 유형 :
                | 핵인싸형
            .bad
                strong 안 맞는 유형 :
                | 관계미니멀리스트형
    .saveImageInfo
            span 길게 눌러 이미지 저장하기