$default-bg: rgb(255, 237, 221);
$selectBtn: rgb(250, 209, 199);
$selectBtn-shadow: rgb(235, 156, 142);
$loadingBar: rgb(243, 160, 158);
$type-one: rgb(254, 224, 185);
$type-two: rgb(227, 244, 250);
$type-three: rgb(255, 230, 229);
$type-four: rgb(253, 250, 231);
$type-one-title: rgb(254, 137, 51);
$type-two-title: rgb(71, 178, 249);
$type-three-title: rgb(252, 130, 124);
$type-four-title: rgb(249, 198, 60);
$type-one-battery: rgb(254, 200, 121);
$type-two-battery: rgb(179, 230, 243);
$type-three-battery: rgb(253, 204, 202);
$type-four-battery: rgb(250, 239, 172);
