$default-bg: #ffeddd;
$selectBtn: #fad1c7;
$selectBtn-shadow: #eb9c8e;
$loading: #f3a09e;
$type-one: #fee0b9;
$type-two: #e3f4fa;
$type-three: #ffe6e5;
$type-four: #fdfae7;
$type-one-title: #fe8933;
$type-two-title: #47b2f9;
$type-three-title: #fc827c;
$type-four-title: #f9c63c;
$type-one-battery: #fec879;
$type-two-battery: #b3e6f3;
$type-three-battery: #fdccca;
$type-four-battery: #faefac;
